[app]
project_name = My Custom FastAPI Project
api_version = /api/v1
doc_path = b94d949141474781
debug = true
host = 0.0.0.0
port = 8000

[mysql]
host = 127.0.0.1
port = 3306
user = root
password =
database = fastapi_template

[redis]
host = localhost
port = 6379
password = root
default_db = 0

[security]
secret_key = ade16819dbb77c427f54a30f8e35924b8bb56872429e79c33b9940b913e33aa6
algorithm = HS256
token_expire_days = 60

[github]
webhook_secret = 123456

[tg]
api_id = 12345
api_hash = 1234567890abcdef1234567890abcdef
phone = +1234567890
session_file = /app/tg_session
file_save_path = /app/data
session_path = /app/sessions

[feishu]
webhook_url =
secret =
